# Ignore Node.js dependencies
node_modules/

# Ignore environment variables
.env

# Ignore Google Drive credentials
file-bucket/file-bucket-backend/google-drive-credentials.json

# Ignore log files and system cache (optional but useful)
*.log
.DS_Store
