#date-wrapper{
    width: 350px;
    height: 40px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    gap: 15px;

    position: fixed;
    top: 30px;
    left: calc(50% - 150px);

    z-index: 100;
}

#date-wrapper span{
    font-weight: 600;
}

#duration-dropdown{
    width: fit-content;
    height: 40px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    gap: 10px;

    position: fixed;
    top: 30px;
    left: calc(50% + 180px);

    z-index: 100;
}

#duration-label{
    color: gray;
    font-size: 14px;
    font-weight: 600;
}

#date-wrapper button{
    all: unset;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(232, 246, 255);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.day-time-slot{
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 10px;
    padding-left: 15px;
    border-bottom: 1px solid lightgray;
}

.time-slot-label{
    width: 100px;
}

.day-appointment-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.day-appointment{
    /* width: 300px; */
    font-size: 14px;
    padding: 10px;
    background: rgb(225, 255, 225);
    border-radius: 7px;
    border-left: 5px solid lightgreen;
    display: flex;
    gap: 10px;

    white-space: nowrap;
    /* prevents internal wrapping */
    overflow: hidden;
    /* hides any overflow */
    text-overflow: ellipsis;
    /* optional: adds "..." if text is cut */
}

.day-appointment span b{
    all: unset;
    font-size: 12px;
    font-weight: 700;
    color: lightgreen;
}