#week {
    position: relative;
}

#time-slot-label {
    height: 60px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    color: gray;
}

#week-time-slots {
    height: auto;
    width: 100px;
    display: grid;
    grid-template-columns: 1, 100px;
    gap: 15px;

    position: absolute;
    top: 85px;
    left: 0px;
}

.week-time-slot {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); */
}

#week-days-header {
    height: 70px;
    width: fit-content;
    display: grid;
    grid-template-rows: 1, 1fr;
    grid-template-columns: repeat(7, 140px);
    gap: 15px;

    position: absolute;
    top: 0;
    left: 140px;
}


.week-day {
    height: 100%;
    width: 140px;
    font-weight: 600;
    color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    justify-content: center;
}

.week-day>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.week-day:nth-child(1) {
    background: rgb(255 175 204);
}

.week-day:nth-child(2) {
    background: rgb(255 214 255);
}

.week-day:nth-child(3) {
    background: rgb(231 198 255);
}

.week-day:nth-child(4) {
    background: rgb(200 182 255);
}

.week-day:nth-child(5) {
    background: rgb(184 192 255);
}

.week-day:nth-child(6) {
    background: rgb(187 208 255);
}

.week-day:nth-child(7) {
    background: rgb(244 202 224);
}

#week-appointments-wrapper {

    font-size: 12px;

    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(7, 140px);
    gap: 15px;

    position: absolute;
    top: 85px;
    left: 140px;
}

.week-appointment {
    height: 60px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.week-appointment.has-appointment {
    position: relative;

    background-color: #ecfdf5;
    border-left: 4px solid #10b981;
    
    mask-image: linear-gradient(to right, black 80%, rgba(0, 0, 0, 0.3));
}

.appointment-item {
    background-color: #d1fae5;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.8rem;
    position: absolute;
    left: 5px;

    display: flex;
    flex-direction: column;
    /* makes children line up horizontally */
    white-space: nowrap;
    /* prevents internal wrapping */
    overflow: hidden;
    /* hides any overflow */
    text-overflow: ellipsis;
    /* optional: adds "..." if text is cut */
}

.appointment-item.multiple {

    position: absolute;
    left: 5px;

    background-color: #d1fae5;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.8rem;
    
    display: flex;
    flex-direction: column;
    /* makes children line up horizontally */
    white-space: nowrap;
    /* prevents internal wrapping */
    overflow: hidden;
    /* hides any overflow */
    text-overflow: ellipsis;
    /* optional: adds "..." if text is cut */
}
